<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../img/v.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title> | MV</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/11000a92ba.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <!--script(src="https://cdnjs.com/libraries/Chart.js")-->
  </head>
  <body>
    <div id="root">
      <nav class="navar-expand-lg navar-dark bg-dark"><a class="navbar-brand">logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-control><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link">galeria<span class="sr-only"></span></a></li>
            <li class="nav-item"><a class="nav-link">perritos</a></li>
            <li class="nav-item"><a class="nav-link">mis perros</a></li>
          </ul>
          <form class="form-inlinemy-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">sign up</button>
          </form>
        </div>
      </nav>
    </div>
  </body>
</html>