.navbar-icon{
    height: 70px;
}
.iconNav-size{
    font-size: 2.5rem;
}
.bg-color{
    background-color: #FDF4E7;
}
.body-height{
    height: 93vh;
}

.nav-height{
    height:7vh;
}
.mr-2rem{
    margin-right: 2rem;
}
.navbar-color{
    background-color:#006E90;
}
.iconNav-color{
    color: #D1AD4B;
}
.btn-outline-primary{
    background-color:#777377 !important;
    color: white  !important;
    border-color: white !important;
    
}
.btn-outline-primary:hover{
    background-color:#6796AF !important;
}